<!-- Header -->
<div id="header" ng-include="'views/common/header.html'"></div>

<!-- Navigation -->
<aside id="menu" ng-include="'views/common/navigation.html'"></aside>

<!-- Main Wrapper -->
<div id="wrapper">

    <div class="content" animate-panel>

    <div class="row projects">
    <div class="col-lg-6">
        <div class="hpanel hgreen">
            <div class="panel-body">
                <span class="label label-success pull-right">NEW</span>
                <div class="row">
                    <div class="col-sm-8">
                        <h4><a href=""> 나라걱정21 프로젝트 준비위원회 </a></h4>

                        <p>
                            이 그룹은 나라걱정21 프로젝트의 기반을 다지는 훌륭한 청년들로 구성된 세련되고 깔끔한 훈남 훈녀들이 잔뜩 대기.. 하아. 뭐라고 해야 사람들이 참여할까
                        </p>

                        <div class="row">
                            <div class="col-sm-3">
                                <div class="project-label">START</div>
                                <small>2015.5.21</small>
                            </div>
                            <div class="col-sm-3">
                                <div class="project-label">VERSION</div>
                                <small>1.5.2</small>
                            </div>
                            <div class="col-sm-3">
                                <div class="project-label">DEDLINE</div>
                                <small>2016.1.3</small>
                            </div>
                            <div class="col-sm-3">
                                <div class="project-label">PROGRESS</div>
                                <progressbar value="12" type="success" class="m-t-xs  full progress-small"></progressbar>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 project-info">
<!--                        <div class="project-action m-t-md">
                            <div class="btn-group">
                                <button class="btn btn-xs btn-default"> View</button>
                                <button class="btn btn-xs btn-default"> Edit</button>
                                <button class="btn btn-xs btn-default"> Delete</button>
                            </div>
                        </div>
                        <div class="project-value">
                            <h2 class="text-success">
                                $1 206,40
                            </h2>
                        </div>
                        -->
                        <br>
                        <div class="project-people">
                            <img alt="logo" class="img-circle" src="images/a1.jpg">
                            <img alt="logo" class="img-circle" src="images/a2.jpg">
                            <img alt="logo" class="img-circle" src="images/a3.jpg">
                            <img alt="logo" class="img-circle" src="images/a4.jpg">
                            <img alt="logo" class="img-circle" src="images/a5.jpg">
                            <img alt="logo" class="img-circle" src="images/a6.jpg">
                            <img alt="logo" class="img-circle" src="images/a7.jpg">
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                Additional information about project in footer
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="hpanel hyellow">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-8">
                        <h4><a href=""> 나라걱정21 플랫폼 개발 </a></h4>
                        <p>
                            나라걱정21 사이트의 근간이 되는 플랫폼을 개발하고 확장하는 사람들
                        </p>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="project-label">START</div>
                                <small>2015.6.1</small>
                            </div>
                            <div class="col-sm-3">
                                <div class="project-label">VERSION</div>
                                <small>0.0.1</small>
                            </div>
                            <div class="col-sm-3">
                                <div class="project-label">DEDLINE</div>
                                <small>2015.12.1</small>
                            </div>
                            <div class="col-sm-3">
                                <div class="project-label">PROGRESS</div>
                                <progressbar value="65" type="warning" class="m-t-xs  full progress-small"></progressbar>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 project-info">
                        <!--
                        <div class="project-action m-t-md">
                            <div class="btn-group">
                                <button class="btn btn-xs btn-default"> View</button>
                                <button class="btn btn-xs btn-default"> Edit</button>
                                <button class="btn btn-xs btn-default"> Delete</button>
                            </div>
                        </div>
                        <div class="project-value">
                            <h2 class="text-warning">
                                $3 600,20
                            </h2>
                        </div> --> <br>
                        <div class="project-people">
                            <img alt="logo" class="img-circle" src="images/a7.jpg">
                            <img alt="logo" class="img-circle" src="images/a8.jpg">
                            <img alt="logo" class="img-circle" src="images/a3.jpg">
                            <img alt="logo" class="img-circle" src="images/a2.jpg">
                            <img alt="logo" class="img-circle" src="images/a5.jpg">
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                Additional information about project in footer
            </div>
        </div>
    </div>
</div>

    <div class="row projects">
    <div class="col-lg-6">
        <div class="hpanel hblue">
            <div class="panel-body">
                <span class="label label-info pull-right">NEW</span>
                <div class="row">
                    <div class="col-sm-8">
                        <h4><a href=""> 청년 고독사 방지위원회 project</a></h4>
                        <p>
                            청년 고독사 카테고리에 대해 자료수집, 연구 및 시각화 자료 개발을 담당하는 코드 포 연수동 프로젝트 팀
                        </p>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="project-label">START</div>
                                <small>2015.1.6</small>
                            </div>
                            <div class="col-sm-3">
                                <div class="project-label">VERSION</div>
                                <small>2.5.2</small>
                            </div>
                            <div class="col-sm-3">
                                <div class="project-label">DEDLINE</div>
                                <small>10.01.2015</small>
                            </div>
                            <div class="col-sm-3">
                                <div class="project-label">PROGRESS</div>
                                <progressbar value="43" type="info" class="m-t-xs  full progress-small"></progressbar>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 project-info">

                        <!--
                        <div class="project-action m-t-md">
                            <div class="btn-group">
                                <button class="btn btn-xs btn-default"> View</button>
                                <button class="btn btn-xs btn-default"> Edit</button>
                                <button class="btn btn-xs btn-default"> Delete</button>
                            </div>
                        </div>
                        <div class="project-value">
                            <h2 class="text-info">
                                $456,20
                            </h2>
                        </div>
                        -->
                        <br>
                        <div class="project-people">
                            <img alt="logo" class="img-circle" src="images/a8.jpg">
                            <img alt="logo" class="img-circle" src="images/a2.jpg">
                            <img alt="logo" class="img-circle" src="images/a1.jpg">
                            <img alt="logo" class="img-circle" src="images/a4.jpg">
                            <img alt="logo" class="img-circle" src="images/a6.jpg">
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                Additional information about project in footer
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="hpanel hgreen">
            <div class="panel-body">
                <span class="label label-success pull-right">NEW</span>
                <div class="row">
                    <div class="col-sm-8">
                        <h4><a href=""> 니걱정도 내걱정 project</a></h4>
                        <p>
                            신규 걱정거리 발굴. 코드 한줄 몰라도 참여 가능한 아이디어 토론 그룹. 목표는 21가지 걱정 아젠다를 완성시키고 이들의 긴급 우선순위를 부여할 수 있는 정량적 메트릭스를 제시하는 일을 한다. 가입문의 080-1588-1588.
                        </p>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="project-label">START</div>
                                <small>2015.2.4</small>
                            </div>
                            <div class="col-sm-3">
                                <div class="project-label">VERSION</div>
                                <small>1.5.2</small>
                            </div>
                            <div class="col-sm-3">
                                <div class="project-label">DEDLINE</div>
                                <small>12.06.2015</small>
                            </div>
                            <div class="col-sm-3">
                                <div class="project-label">PROGRESS</div>
                                <progressbar value="12" type="success" class="m-t-xs  full progress-small"></progressbar>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 project-info">
                        <div class="project-action m-t-md">
                            <div class="btn-group">
                                <button class="btn btn-xs btn-default"> Docs</button>
                                <button class="btn btn-xs btn-default"> Source Code</button>
                                <button class="btn btn-xs btn-default"> Slack</button>
                            </div>
                        </div>
<!--                        <div class="project-value">
                            <h2 class="text-success">
                                $1 206,40
                            </h2>
                        </div> -->
                        <br>
                        <div class="project-people">
                            <img alt="logo" class="img-circle" src="images/a1.jpg">
                            <img alt="logo" class="img-circle" src="images/a2.jpg">
                            <img alt="logo" class="img-circle" src="images/a3.jpg">
                            <img alt="logo" class="img-circle" src="images/a4.jpg">
                            <img alt="logo" class="img-circle" src="images/a5.jpg">
                            <img alt="logo" class="img-circle" src="images/a6.jpg">
                            <img alt="logo" class="img-circle" src="images/a7.jpg">
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                Additional information about project in footer
            </div>
        </div>
    </div>
</div>

    </div>
</div>
